<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-toolbar styleClass="p-mb-4 p-d-flex p-jc-between">
  <div class="p-toolbar-group-left p-d-flex p-ai-center">
    <button pButton pRipple type="button" icon="pi pi-bars" class="p-mr-2" (click)="sidebarVisible = true"></button>
    <h3>Portal de Empleos</h3>
  </div>

  <div class="p-toolbar-group-right" *ngIf="currentUser">
    <p-avatar [label]="currentUser.username.charAt(0).toUpperCase()" styleClass="p-mr-2" size="large" shape="circle" [pTooltip]="currentUser.username" tooltipPosition="bottom"></p-avatar>
    <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
    <button pButton type="button" icon="pi pi-angle-down" class="p-button-text" (click)="menu.toggle($event)"></button>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="p-sidebar-md">
  <ng-template pTemplate="header">
    <h3>Menú</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <ul class="sidebar-menu">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.routerLink" routerLinkActive="active-link" (click)="sidebarVisible = false">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </li>
    </ul>
  </ng-template>
</p-sidebar>

<div class="p-p-4">
  <router-outlet></router-outlet>
</div>
